.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    /* left: -16px; */
    left: 0;
    z-index: 1030;
}
.img-fluid {
    max-width: 100%;
    padding-right: 22px;
    height: auto;
}

.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-sizing:cover;
    background-size: cover;
}
.carousel-caption{
    bottom: 270px;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 75%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.navbar-light .navbar-brand {
    color: #fff;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    margin-right: -1px;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: white;
}
.navbar-light .navbar-nav .nav-link{
    color: white;
}
.navbar::before{
    content: "";
    background-color:blueviolet;
    /* background-image: url("abstract.jpg"); */
    position: absolute;
    height: 100%;
    width: 200%;
    z-index: -1;
    opacity: .4;
    left: -20px;
    ;
    
}